body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.calculator {
  border: 2px solid #ccc;
  border-radius:20px;
  background-image: url('final.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 20px;
  width: 350px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.7); /* Slightly transparent */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display {
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  /* Background image styles 
  background-image: url('download.jpeg');*/
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  height: 90px;
  line-height: 30px;
  z-index: 1;
  /* Blur effect */
 /* Adjust the blur intensity as needed */
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  position: relative;
  z-index: 1;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.115); /* Slightly transparent */
}

.number {
  color: black; /* Black text for numbers */
}

.operator {
  color: rgb(126, 126, 239); /* Blue text for operators */
}

.clear {
  color: red; /* Red text for clear button */
}

button:hover {
  background-color: rgba(224, 224, 224, 0.837); /* Slightly transparent on hover */
}
